<div id="home">
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
        </ol>
  <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item" ng-repeat="image in images" ng-class="{active:!$index}">
          <img  ng-src="{{image.slider}}" style="width:100%">
        </div>
      </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="home-rightCol">
        <h3>Wellcome to Google Phone Gallery</h3>
        <p><b>This is  a single page application, built using AngularJS and Bootstrap.</b><br>
          Raw danim you probably haven't heard of them jean short Austin. Lorem ibsum dolor sit amet consectetur adipiscing elit
        </p>
      </div>
    </div>
  </div>
</div>
</div>
